body {
  font-family: -apple-system, BlinkMacSystemFont, ‘Segoe UI’, ‘Roboto’, ‘Oxygen’, ‘Ubuntu’, ‘Fira Sans’, ‘Droid Sans’, ’Helvetica Neue ’, sans-serif;
  font-size: 14px
}

input {
  padding: 10px;
  border: 2px solid #bbb;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  width: 528px;
}

li {
  padding: 0px;
  border: 1px solid #ccc;
  border-top: none;
  margin-top: 0px;
  font-size: 12px;
  background-color: white
}

li:hover {
  background-color: #f8f9fa;
}

li.main {
  background-color: #fff5d9;
  line-height: 29px;
  border: 1px solid #ccc;
  margin-top: -1px;
}

li.main:hover {
  background-color: #ffefc5;
  line-height: 29px;
  border: 1px solid #ccc;
}

li span {
  display: block;
}

li a {
  display: table;
  width: 530px;
  text-decoration: none;
  color: black;
  padding: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
  width: 552px;
  margin-top:-15px
}

svg {
  width:24px;
  height: 24px;
}

li svg {
  float: left;
  margin: 6px 12px 0 4px;
}

span#tools {
  display: inline-table;
  margin-left: -60px;
  position: absolute;
}

span#tools svg {
  position: relative;
  top: 9px;
}

.hl {
  background-color: yellow;
}

span#tools svg {
  fill: #bbb;
}

span#tools svg:hover {
  fill: #444;
  background-color: #f1f1f1;
  border-radius: 30px;
}

svg#filterSVG {
  width: 570px;
  height: 810px
}

#modalMask {
  background-color: rgba(0,0,0,0.64);
  position: absolute;
  width: 0%;
  height: 0%;
  top: 0;
  left: 0
}

#modalMask.visible {
  width: 100%;
  height: 100%;
}

#modalFilters {
  display: none;
}

#modalFilters.visible {
  display: block;
  width: 570px;
  height: 810px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -405px 0 0 -285px;
}

input::placeholder {
  font-weight: normal;
}

body {
  background-image: url("imgs/header.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: 2562px 44px;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

div#icons_header,
div#icons_header_without_button {
  background-image: url("imgs/icons.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: 494px 112px;
  width: 494px;
  height: 112px;
  position: absolute;
  top: 0;
  right: 0;
}

div#icons_header_without_button {
  background-image: url("imgs/icons_without_button.png");
}

div#bg_main {
  background-image: url("imgs/hero.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 552px 348px;
  width: 552px;
  height: 440px;
  margin: auto;
  padding-top: 280px;
}

div#bg_bottom {
  background-image: url("imgs/bottom.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 2562px 158px;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

div#fake_results {
  margin-top: 44px;
}

div#fake_results img {
  width: 1200px;
}

div#company_profile_title {
  background-image: url("imgs/company_profile_title.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  background-size: 300px 120px;
  float: left;
  width: 300px;
  height: 120px;
}

div#company_profile_logo {
  background-image: url("imgs/company_profile_logo.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 300px 120px;
  float: right;
  width: 300px;
  height: 160px;
}

div#company_profile {
  background-image: url("imgs/company_profile.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-size: 2560px 940px;
  float: clear;
  width: 100%;
  height: 940px;
  margin: 44px 20px;
}

div#company_profile_patche {
  background-image: url("imgs/company_profile_patche.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 20px 940px;
  float: right;
  width: 20px;
  height: 940px;
  margin: 0;
  padding: 0;
}

div#warehouses_bg {
  background-image: url("imgs/warehouses_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#frbrcompanies_bg {
  background-image: url("imgs/frbrcompanies_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#spanishcontacts_bg {
  background-image: url("imgs/spanishcontacts_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#frbrwarehouses_bg {
  background-image: url("imgs/frbrwarehouses_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#fr33spanishcontacts_bg {
  background-image: url("imgs/fr33spanishcontacts_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#warehousesspanishcontacts_bg {
  background-image: url("imgs/warehousesspanishcontacts_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#frbrwarehousesspanishcontacts_bg {
  background-image: url("imgs/frbrwarehousesspanishcontacts_bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 0;
  background-size: 1200px 940px;
}

div#search_input {
  width: 552px;
  height: 40px;
  position: absolute;
  top: 71px;
  left: 50%;
  margin-left: -276px;
}

footer {
  width: 1000px;
  margin: auto
}
