<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <body>
    <p><input type="text" id="mainQuery"></p>
    <ul id="resultDom"></ul>
  </body>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</html>
