<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <body class="results" onclick="window.location='/'">
    <div id="icons_header"></div>
    <div id="warehouses_bg">
      <div id="fake_results">
        <img src="/static/imgs/warehouses.png">
      </div>
    </div>
    <div id="mainQuery"></div>
  </body>
  <script src="{{url_for('static', filename='script.js')}}"></script>
</html>